<h1>Sub Page </h1>
<%= @sub.title %>
<%=button_to "Edit Sub", edit_sub_url, method: :get %>
<%=button_to "Make new post", new_sub_post_url(@sub), method: :get %>

<%= render 'posts/show', post: @posts %>
